.green-bg {
  background: url(../img/green-screen-room.jpg) no-repeat @gray-darker;
  background-size: cover;
  background-position: 100%;
}

.green-screen-bg {
  .green-bg;

  color: white;
  padding-top: 125px;
  padding-bottom: 125px;
  background-position: 70% 100%;

  h1 {
    .brand-font;

    font-size: 60px;
    margin-bottom: 25px;
  }
}

.search-wrapper {
  color: black;
  margin-top: 15px;
  min-height: 75px;
}

.search .product-type {
  padding: 3px 0;
  margin: 0 20px 5px 20px;
  border-bottom: 1px solid #ccc;
}

.search.affix {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  margin-top: 0;
  position: fixed;
  background-color: @brand-primary;

  // .carbon-bg;
  background: @brand-primary;
}

.search input {
  border-radius: 6px !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;

  width: 210px;
  height: 44px;
  font-size: 17.5px;
  line-height: 30px;
  padding: 11px 19px;
  margin-bottom: 10px;

  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
}

.search input:focus {
  border-color: @brand-primary;
  box-shadow: 0 0 5px white;
}

.search .input-group-addon {
  cursor: pointer;
  background: white;
}

@media (min-width: @screen-sm-min) {

  .search .form-horizontal {
    max-width: 66%;
    margin: auto;
  }

  .search.affix {
    padding: 15px 0;
  }

  .home .green-screen-bg {
    padding-top: 200px;
    padding-bottom: 300px;
  }

}

